<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>Fileupload Sample</title>
</head>
<body>
  <h1>Fileupload Sample</h1>
  <div id="App"></div>
  <script type="text/javascript" src="/script.js"></script>
</body>
</html>
